1. Ternary Conditionals

In [1]:
condition = True

if condition:
  x = 1
else:
  x = 0

print(x)

1

In [2]:
# easier to read
x = 1 if condition else 0
print(x)

1

2. easy way to read number

In [7]:
# easy way to read large number
num1 = 10_000_000_000 # _ is ignored in running
num2 = 100_000_000
total = num1 + num2
print(total)
print(f'{total:,}') # print ',' in number

10100000000
10,100,000,000

3. context manager

In [ ]:
f = open('test.txt', 'r')
file_contents = f.read()
f.close() # tired to open and close everytime

words = file_contents.split(' ')
word_count = len(words)
print(word_count)

In [ ]:
# better way
with open('test.txt', 'r') as f:
  file_contents = f.read()

words = file_contents.split(' ')
word_count = len(words)
print(word_count)

4. enumerate function

In [10]:
names = ['Corey', 'Chris', 'Dave', 'Travis']
index = 0
for name in names:
  print(index, name)
  index += 1

0 Corey
1 Chris
2 Dave
3 Travis

In [12]:
# better way
for index, name in enumerate(names, start=1):
  print(index, name)

1 Corey
2 Chris
3 Dave
4 Travis

In [17]:
name = ['Peter Parker', 'Clark Kent', 'Wade Wilson', 'Bruce Wayne']
heroes = ['Spiderman', 'Superman', 'Deadpool', 'Batman']
universes = ['Marvel', 'DC', 'Marvel', 'DC']

# loop over two lists
for index, name in enumerate(names):
  hero = heroes[index]
  print(f'{name} is actually {hero}')

Corey is actually Spiderman
Chris is actually Superman
Dave is actually Deadpool
Travis is actually Batman

5. zip function

In [15]:
# better way to loop over two lists
for name, hero in zip(names, heroes):
  print(f'{name} is actually {hero}')

Corey is actually Spiderman
Chris is actually Superman
Dave is actually Deadpool
Travis is actually Batman

In [18]:
# better way to loop over three lists
for name, hero, universe in zip(names, heroes, universes):
  print(f'{name} is actually {hero} from {universe}')

Corey is actually Spiderman from Marvel
Chris is actually Superman from DC
Dave is actually Deadpool from Marvel
Travis is actually Batman from DC

6. unpacking tuples (use asterisk and underscore)

In [19]:
for value in zip(names, heroes, universes):
  print(value)

('Corey', 'Spiderman', 'Marvel')
('Chris', 'Superman', 'DC')
('Dave', 'Deadpool', 'Marvel')
('Travis', 'Batman', 'DC')

In [21]:
a, _ = (1, 2)
print(a)
#print(b)

1

In [22]:
a, b, c = (1, 2)
print(a)

ValueError: ignored

In [23]:
a, b, c = (1, 2, 3, 4, 5)
print(a)

ValueError: ignored

In [25]:
a, b, *c = (1, 2, 3, 4, 5)
print(a)
print(b)
print(c) # *c is all rest elements

1
2
[3, 4, 5]

In [ ]:
a, b, *_ = (1, 2, 3, 4, 5)
print(a)
print(b)
#print(c) # *_ : rest is not used

In [28]:
a, b, *c, d = (1, 2, 3, 4, 5, 6, 7)
print(a)
print(b)
print(c) # *c is all elements before d
print(d)

1
2
[3, 4, 5, 6]
7

In [ ]:
a, b, *c, d = (1, 2, 3, 4, 5, 6, 7)
print(a)
print(b)
print(c) # *c is all elements before d
print(d)

In [30]:
a, b, *_, d = (1, 2, 3, 4, 5, 6, 7)
print(a)
print(b)
#print(c) # *_ is all elements before d
print(d)

1
2
7

7. getting and setting attributes to object  (setattr, getattr )

In [31]:
class Person():
  pass

person = Person()

In [32]:
person.first = "Corey"
person.last = "Schafer"
print(person.first)
print(person.last)

Corey
Schafer

In [40]:
# better way
first_key = 'first'
first_val = 'Corey'
setattr(person, first_key, first_val)
first = getattr(person, first_key)
print(first) # print first_val

Corey

In [44]:
# usage (useful, if there are a lot of elements in dictionary)
person_info = {'first': 'Corey', 'last':'Schafer'}

for key, value in person_info.items():
  setattr(person, key, value)

for key in person_info.keys():
  print(getattr(person, key))

Corey
Schafer

8.  getpass instead input (read from keyboard)

In [49]:
username = input('Username: ')
password = input('Password: ')
print('Logging In...')

Username: adam
Password: smith
Logging In...

In [ ]:
# open terminal
# python password.py

In [46]:
from getpass import getpass
username = input('Username: ')
password = getpass('Password: ') # hide password during typing
print('Logging In...')

Username: adam
Password: ··········
Logging In...

9. run python with dash m in terminal (python -m ...)

In [ ]:
# open terminal
# python -m password  (.py is not needed)

10. built-in functions (help, dir etc)

In [ ]:
# see the video(work in terminal)